## Delete a Pluggable SCM material

```shell
$ curl -i 'https://ci.example.com/go/api/admin/scms/pluggable.scm.material.name' \
      -u 'username:password' \
      -H 'Accept:<%= data.apis.versions.scm %>' \
      -X DELETE
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.scm %>; charset=utf-8
ETag: "05548388f7ef5042cd39f7fe42e85735"

```

```json
{
  "message": "Scm with name 'pluggable.scm.material.name' was deleted successfully!"
}
```

Delete the SCM object with the specified name.

<%= updated_to(4,'20.9.0') %>
<%= available_since('19.8.0') %>

<p class='http-request-heading'>HTTP Request</p>

`DELETE /go/api/admin/scms/:material_name`

<p class='http-request-return-description'>Returns</p>

A message if the scm is deleted or not.
