## Get job history

```shell
$ curl 'https://ci.example.com/go/api/jobs/mypipeline/defaultStage/job1/history' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.job_instance %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.job_instance %>; charset=utf-8
```

```json
{
  "jobs": [
    {
      "name": "job1",
      "agent_uuid": null,
      "scheduled_date": 1436519914378,
      "original_job_id": null,
      "pipeline_counter": 5,
      "rerun": false,
      "pipeline_name": "mypipeline",
      "result": "Unknown",
      "state": "Scheduled",
      "stage_counter": "1",
      "stage_name": "defaultStage",
    },
    {
      "name": "job1",
      "agent_uuid": "278fb0b6-d3b8-47e1-9443-67f26bfb5c15",
      "scheduled_date": 1436519733253,
      "original_job_id": null,
      "pipeline_counter": 4,
      "rerun": false,
      "pipeline_name": "mypipeline",
      "result": "Passed",
      "state": "Completed",
      "stage_counter": "1",
      "stage_name": "defaultStage",
    }
  ]
}
```

The job history allows users to list job instances of specified job. Supports cursor based pagination. The json output provides the `next` link which needs to be followed for the next set of records (if present). It also provides a `previous` which can be followed to get the previous page (if there is one).

The API supports the following query params:

| Param Name  | Description                                                                 |
| ----------- | --------------------------------------------------------------------------- |
| `page_size` | The number of records per page. Can be between 10 and 100. Defaults to `10` |
| `after`     | The cursor value for fetching the next set of records                       |
| `before`    | The cursor value for fetching the previous set of records                   |

<%= updated_to(1,'20.1.0') %>
<%= available_since('14.3.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/jobs/:pipeline_name/:stage_name/:job_name/history`

<p class='http-request-return-description'>Returns</p>

An array of jobs instances.
