## Get Job History

```shell
$ curl 'https://ci.example.com/go/api/jobs/mypipeline/defaultStage/job1/history' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.job_instance %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.job_instance %>; charset=utf-8
```

```json
{
  "jobs": [
    {
      "agent_uuid": null,
      "name": "job1",
      "job_state_transitions": [],
      "scheduled_date": 1436519914378,
      "original_job_id": null,
      "pipeline_counter": 5,
      "rerun": false,
      "pipeline_name": "mypipeline",
      "result": "Unknown",
      "state": "Scheduled",
      "stage_counter": "1",
      "stage_name": "defaultStage"
    },
    {
      "agent_uuid": "278fb0b6-d3b8-47e1-9443-67f26bfb5c15",
      "name": "job1",
      "job_state_transitions": [],
      "scheduled_date": 1436519733253,
      "original_job_id": null,
      "pipeline_counter": 4,
      "rerun": false,
      "pipeline_name": "mypipeline",
      "result": "Passed",
      "state": "Completed",
      "stage_counter": "1",
      "stage_name": "defaultStage"
    }
  ],
  "pagination": {
    "offset": 0,
    "total": 2,
    "page_size": 10
  }
}
```

The job history allows users to list job instances of specified job. Supports pagination using offset which tells the API how many instances to skip.

| Param Name  | Description                                                                 |
| ----------- | --------------------------------------------------------------------------- |
| `page_size` | The number of records per page. Can be between 10 and 100. Defaults to `10` |
| `offset`    | The number of records which needs to be skipped. Defaults to `0`            |

<%= updated_to(1,'19.12.0') %>
<%= available_since('14.3.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/jobs/:pipeline_name/:stage_name/:job_name/history`

<p class='http-request-return-description'>Returns</p>

An array of jobs instances.
