## Get all materials

```shell
$ curl 'https://ci.example.com/go/api/config/materials' \
      -u 'username:password'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
```

```json
[
  {
    "description": "URL: https://github.com/gocd/gocd, Branch: master",
    "fingerprint": "03c8d2a131154436b6ef2d621c6f773837481aaea8c5c1bb9c0cb9b5bc64a2f1",
    "type": "Git"
  }
]
```

Lists all available materials, these are materials that are present in the in `cruise-config.xml`.

<%= available_since('14.3.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/config/materials`

<p class='http-request-return-description'>Returns</p>

An array of [material objects](#the-material-object).
