## Notify git materials

```shell
$ curl 'https://ci.example.com/go/api/material/notify/git' \
      -u 'username:password' \
      -H 'Confirm: true' \
      -X POST \
      -d "repository_url=git://git.example.com/git/funky-widgets.git"
```

> The above command returns the following response:

```http
HTTP/1.1 202 Accepted
Content-Type: text/plain; charset=UTF-8
```

```plain
The material is now scheduled for an update. Please check relevant pipeline(s) for status.
```

<%= partial 'includes/shared/material_notify_header' %>

<%= available_since('14.3.0') %>

<p class='http-request-heading'>HTTP Request</p>

`POST /go/api/material/notify/git`

The following post parameters must be specified.

<%=
  describe_object(nil) do
    repository_url  'String',            'The git repository url as defined in `cruise-config.xml`'
  end
 %>

<p class='http-request-return-description'>Returns</p>

A text confirmation.

### Notification script

To notify Go via a Git post commit hook, you may use the following post commit hook in your git repository.

The post commit hook is located at `/path/to/repository.git/hooks/post-receive`.

```bash
#!/bin/sh

curl 'https://ci.example.com/go/api/material/notify/git' \
    -u 'username:password' \
    -H 'Confirm: true' \
    -X POST \
    -d "repository_url=git://git.example.com/git/funky-widgets.git"
```



### Hosting your repository on GitHub [Enterprise]?

<%= available_since('17.6.0') %>

To notify GoCD of an update to a repository via an organisation level webhook (GitHub Push Event), configure GitHub to use the webhooks api negating the need for basic authentication on each request.
*Polling must be turned off for the pipeline associated with this material*

`{server-url}/api/webhooks/github/notify`

To secure the http endpoint, the webhook configuration on GitHub must specify a _Secret_, the value of the _Secret_ should be same as the value of the `webhookSecret` attribute on the `<server/>` element in the file `cruise-config.xml`. Do not specify any basic authentication credentials in the webhook URL.


#####Returns
A text confirmation, with the http status `202 Accepted`.