## Get Stage Instance

```shell
$ curl 'https://ci.example.com/go/api/stages/myPipeline/myStages/instance/1/1' \
  -u 'username:password' \
  -H 'Accept: <%= data.apis.versions.stage_instance %>'
```

> The above command returns the following response:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.stage_instance %>;charset=utf-8
```

```json
{
  "name": "defaultStage",
  "clean_working_directory": false,
  "approved_by": "changes",
  "jobs": [
    {
      "agent_uuid": "278fb0b6-d3b8-47e1-9443-67f26bfb5c15",
      "name": "defaultJob",
      "job_state_transitions": [
        {
          "state_change_time": 1436509518752,
          "state": "Scheduled"
        },
        {
          "state_change_time": 1436509524491,
          "state": "Assigned"
        },
        {
          "state_change_time": 1436509534639,
          "state": "Preparing"
        },
        {
          "state_change_time": 1436509542522,
          "state": "Building"
        },
        {
          "state_change_time": 1436509642582,
          "state": "Completing"
        },
        {
          "state_change_time": 1436509642631,
          "state": "Completed"
        }
      ],
      "scheduled_date": 1436509518752,
      "original_job_id": null,
      "pipeline_counter": null,
      "rerun": false,
      "pipeline_name": null,
      "result": "Cancelled",
      "state": "Completed",
      "stage_counter": null,
      "stage_name": null
    }
  ],
  "pipeline_counter": 1,
  "pipeline_name": "mypipeline",
  "approval_type": "success",
  "result": "Cancelled",
  "cancelled_by": "user",
  "counter": 1,
  "rerun_of_counter": null,
  "fetch_materials": true,
  "artifacts_deleted": false
}
```

Gets stage instance object.

<%= updated_to(2,'19.12.0') %>
<%= available_since('19.1.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/stages/:pipeline_name/:stage_name/instance/:pipeline_counter/:stage_counter`

<p class='http-request-return-description'>Returns</p>

A stage instance object.
