## Get stage instance

```shell
$ curl 'https://ci.example.com/go/api/stages/myPipeline/1/myStages/1' \
  -u 'username:password' \
  -H 'Accept: <%= data.apis.versions.stage_operations %>'
```

> The above command returns the following response:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.stage_operations %>;charset=utf-8
```

```json
{
  "name": "default_stage",
  "counter": 1,
  "approval_type": "success",
  "approved_by": "changes",
  "result": "Unknown",
  "rerun_of_counter": null,
  "fetch_materials": true,
  "clean_working_directory": false,
  "artifacts_deleted": false,
  "pipeline_name": "default",
  "pipeline_counter": 1,
  "jobs": [
    {
      "name": "default_job",
      "state": "Scheduled",
      "result": "Unknown",
      "scheduled_date": 1578891141997,
      "rerun": false,
      "original_job_id": null,
      "agent_uuid": null,
      "pipeline_name": null,
      "pipeline_counter": null,
      "stage_name": null,
      "stage_counter": null,
      "job_state_transitions": [
        {
          "state": "Scheduled",
          "state_change_time": 1578891141997
        },
        {
          "state": "Assigned",
          "state_change_time": 1436509524491
        },
        {
          "state": "Preparing",
          "state_change_time": 1436509534639
        },
        {
          "state": "Building",
          "state_change_time": 1436509542522
        },
        {
          "state": "Completing",
          "state_change_time": 1436509642582
        },
        {
          "state": "Completed",
          "state_change_time": 1436509642631
        }
      ]
    }
  ]
}
```

Gets stage instance object.

<%= updated_to(2,'20.1.0') %>
<%= available_since('19.1.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/stages/:pipeline_name/:pipeline_counter/:stage_name/:stage_counter`

<p class='http-request-return-description'>Returns</p>

A stage instance object.
