## Run stage

```shell
$ curl 'https://ci.example.com/go/api/stages/myPipeline/myPipelineRunCounter/myStages/run' \
      -u 'username:password' \
      -H 'X-GoCD-Confirm: true' \
      -H 'Accept: <%= data.apis.versions.stage_operations %>' \
      -X POST
```

> The above command returns the following response:

```http
HTTP/1.1 202 Accepted
Content-Type: <%= data.apis.versions.stage_operations %>;charset=utf-8
```

```json
{
  "message" : "Request to schedule stage testAPI/1/defaultStage accepted"
}
```

Runs a specified stage.

<%= updated_to(2,'20.1.0') %>
<%= available_since('18.11.0') %>

<p class='http-request-heading'>HTTP Request</p>

`POST /go/api/stages/:pipeline_name/:pipeline_counter/:stage_name/run`

<p class='http-request-return-description'>Returns</p>

A message confirmation if the request to schedule stage was accepted.
