## Run failed jobs

```shell
$ curl 'https://ci.example.com/go/api/stages/myPipeline/myPipelineRunCounter/myStage/myStageCounter/run-failed-jobs' \
      -u 'username:password' \
      -H 'X-GoCD-Confirm: true' \
      -H 'Accept: <%= data.apis.versions.stage_operations %>' \
      -X POST
```

> The above command returns the following response:

```http
HTTP/1.1 202 Accepted
Content-Type: <%= data.apis.versions.stage_operations %>;charset=utf-8
```

```json
{
  "message" : "Request to rerun jobs accepted"
}
```

Runs failed jobs in a completed stage.

<%= updated_to(2,'19.12.0') %>
<%= available_since('18.11.0') %>

<p class='http-request-heading'>HTTP Request</p>

`POST /go/api/stages/:pipeline_name/:pipeline_counter/:stage_name/:stage_counter/run-failed-jobs`

<p class='http-request-return-description'>Returns</p>

A message confirmation if the request to rerun failed jobs was accepted.