## Get all templates

```shell
$ curl 'https://ci.example.com/go/api/admin/templates' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.templates %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
```

```json
{
  "_links": {
    "self": {
      "href": "https://ciexample.com/go/api/admin/templates"
    },
    "doc": {
      "href": "https://api.go.cd/#template-config"
    },
    "find": {
      "href": "https://ciexample.com/go/api/admin/templates/:template_name"
    }
  },
  "_embedded": {
    "templates": [
      {
        "_links": {
          "self": {
            "href": "https://ciexample.com/go/api/admin/templates/template1"
          },
          "doc": {
            "href": "https://api.go.cd/#template-config"
          },
          "find": {
            "href": "https://ciexample.com/go/api/admin/templates/:template_name"
          }
        },
        "name": "template1",
        "_embedded": {
          "pipelines": [
            {
              "_links": {
                "self": {
                  "href": "https://ciexample.com/go/api/admin/pipelines/up42"
                },
                "doc": {
                  "href": "https://api.go.cd/#pipeline-config"
                },
                "find": {
                  "href": "https://ciexample.com/go/api/admin/pipelines/:pipeline_name"
                }
              },
              "name": "up42"
            }
          ]
        }
      }
    ]
  }
}
```

Lists all available templates with the associated pipelines' names.

<%= available_since('16.10.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/admin/templates`

<p class='http-request-return-description'>Returns</p>

A list of [template](#the-template-config-object) objects
