.highlight.http + .highlight.json {
  padding-top: 0;
}

.highlight + blockquote {
  padding-top: 0;
}

blockquote + .highlight {
  padding-top: 0;
}

.tocify-wrapper > img {
    margin: 10px;
}


[data-popover]{
  padding-left: 10px;
  &:before {
    @extend %icon-info-sign;
  }
}


.version-switcher {
  padding: 0 15px 0 15px;
  width: 100%;
  span {
    color: #fff;
  }
}

.attributes-table-follows {
  + table tbody tr {
    code {
      word-break: normal;
    }
  }
}
.available-since {
  @extend %header-font;
  font-size: 14px;
  margin-top: 2.5em;
  margin-bottom: 0.8em;

  margin-right: $examples-width;
  padding: 0 $main-padding;
  box-sizing: border-box;
  display: block;
  @include text-shadow($main-embossed-text-shadow);

  @extend %left-col;
}
