## Delete a notification filter

```shell
$ curl 'https://ci.example.com/go/api/notification_filters/1' \
  -u 'username:password' \
  -H 'Accept: <%= data.apis.versions.notification_filters %>' \
  -X DELETE
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.notification_filters %>; charset=utf-8
```

```json
{
  "message" : "Notification filter is successfully deleted!"
}
```

Deletes a notification filter for the authenticated user.

<%= updated_to(2,'20.1.0') %>
<%= available_since("17.5.0") %>

<p class='http-request-heading'>HTTP Request</p>

`DELETE /go/api/notification_filters/:id`

<p class='http-request-return-description'>Returns</p>

A message if the notification filter is deleted or not.
