## Get Backup Config

```shell
$ curl 'https://ci.example.com/go/api/config/backup' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.backup_config %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.backup_config %>; charset=utf-8
```

```json
{
  "_links": {
    "self": {
      "href": "https://ci.example.com/go/api/config/backup"
    },
    "doc": {
      "href": "https://api.gocd.org/#backup-config"
    }
  },
  "email_on_failure" : false,
  "email_on_success" : false,
  "post_backup_script" : "/usr/local/bin/copy-gocd-backup-to-s3",
  "schedule" : "0 0 2 * * ?"
}
```

<%= available_since('19.6.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/config/backup`

<p class='http-request-return-description'>Returns</p>

A [backup config object](#the-backup-config-object).
