## Get pipeline instance

```shell
$ curl 'http://ci.example.com/go/api/pipelines/PipelineName/instance/1' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.pipeline_instance %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.pipeline_instance %>; charset=utf-8
```

```json
{
  "name" : "PipelineName",
  "counter" : 1,
  "label" : "1",
  "natural_order" : 1.0,
  "can_run" : true,
  "preparing_to_schedule" : false,
  "comment" : null,
  "build_cause" : {
    "trigger_message" : "modified by user <user@users.noreply.github.com>",
    "trigger_forced" : false,
    "approver" : "",
    "material_revisions" : [ {
      "changed" : true,
      "material" : {
        "name" : "https://github.com/gocd/gocd",
        "fingerprint" : "de08b34d116a1c0cf57cd76683bf21",
        "type" : "Git",
        "description" : "URL: https://github.com/gocd/gocd, Branch: master"
      },
      "modifications" : [ {
        "revision" : "40f0a7ef224a0a2fba438b158483b",
        "modified_time" : 1436519914378,
        "user_name" : "user <user@users.noreply.github.com>",
        "comment" : "some commit message.",
        "email_address" : null
      } ]
    } ]
  },
  "stages" : [ {
    "result" : "Passed",
    "rerun_of_counter" : null,
    "name" : "stage",
    "counter" : "1",
    "scheduled" : true,
    "approval_type" : "success",
    "approved_by" : "changes",
    "operate_permission" : true,
    "can_run" : true,
    "jobs" : [ {
      "name" : "job",
      "scheduled_date" : 1436782534378,
      "state" : "Completed",
      "result" : "Passed"
    } ]
  } ]
}
```

Gets pipeline instance object.

<%= updated_to(1,'19.12.0') %>
<%= available_since('15.1.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/pipelines/:pipeline_name/instance/:pipeline_counter`

<p class='http-request-return-description'>Returns</p>

A pipeline instance object.
