<a name="server_maintenance_mode"></a>

# Maintenance Mode

The GoCD Server Maintenance mode API allows admin users to manage [GoCD server maintenance mode](https://docs.gocd.org/current/advanced_usage/maintenance_mode.html).

<%= render_all_sub_topics('maintenance-mode') %>
