<a name="server_drain_mode"></a>

# Drain Mode

The GoCD Server Drain mode API allows admin users to manage [GoCD server drain mode](https://docs.gocd.org/advanced_usage/drain_mode.html).

<%= render_all_sub_topics('drain-mode') %>
