<a name="configuration"></a>

# GoCD-level Configuration

The configuration API allows users with administration role to view and manage configuration.

<%= render_all_sub_topics('configuration') %>

