<a name="scms"></a>

# Pluggable SCMs

The pluggable SCM API <code><%= short_version(data.apis.versions.scm) %></code> allows users to view, create and update the SCM object.

<%= render_all_sub_topics('pluggable-scm') %>
