<% if since.version %>
<h3>Available since v<%= since.version %>.
  <% if since.old_versions.any? -%>
    <span
      data-popover
      data-title='Looking for older versions of this API?'
      data-content='<%= h render_partial('partials/old_versions.md.erb', locals: {since: since}) %>'
    ></span>
  <% end -%>
</h3>
<% end %>
