## Get configuration

```shell
$ curl 'https://ci.example.com/go/api/admin/config.xml' \
      -u 'username:password'
```

> The above command returns the contents of the config file


```http
HTTP/1.1 200 OK
X-CRUISE-CONFIG-MD5: c21b6c9f1b24a816cddf457548a987a9
Content-Type: text/xml
```
```xml
<?xml version="1.0" encoding="utf-8"?>
<cruise
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="cruise-config.xsd"
    schemaVersion="75">
  <server serverId="9C0C0282-A554-457D-A0F8-9CF8A754B4AB">
    <security>
      <passwordFile path="/etc/go/password.properties" />
    </security>
  </server>
  <pipelines group="defaultGroup" />
</cruise>
```

Gets the current configuration file.

<%= available_since('14.3.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/admin/config.xml`

**Other convenience APIs**

`GET /go/api/admin/config/current.xml`

    or

`GET /go/api/admin/config/:md5.xml`


<p class='http-request-return-description'>Returns</p>

The contents of the configuration file.
