## Get all elastic agent profiles

```shell
$ curl 'https://ci.example.com/go/api/elastic/profiles' \
      -u 'username:password' \
      -H 'Accept: application/vnd.go.cd.v1+json'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.go.cd.v1+json; charset=utf-8
ETag: "32628084ef10b0c82a55f8f2f867d8d0"
```

```json
{
  "_links": {
    "self": {
      "href": "https://ci.example.com/go/api/elastic/profiles"
    },
    "doc": {
      "href": "http://api.go.cd/#elastic-profiles"
    },
    "find": {
      "href": "https://ci.example.com/go/api/elastic/profiles/:profile_id"
    }
  },
  "_embedded": {
    "profiles": [
      {
        "_links": {
          "self": {
            "href": "https://ci.example.com/go/api/elastic/profiles/unit-tests"
          },
          "doc": {
            "href": "http://api.go.cd/#elastic-profiles"
          },
          "find": {
            "href": "https://ci.example.com/go/api/elastic/profiles/:profile_id"
          }
        },
        "id": "unit-tests",
        "plugin_id": "cd.go.contrib.elastic-agent.docker"
      }
    ]
  }
}
```
Lists all available elastic agent profiles.

<%= available_since('16.10.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/elastic/profiles`

<p class='http-request-return-description'>Returns</p>

An array of [elastic agent profiles](#the-elastic-agent-profile-object).
