## Delete an elastic agent profile

```shell
$ curl 'https://ci.example.com/go/api/elastic/profiles/unit-tests' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.elastic_profiles %>' \
      -X DELETE
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.elastic_profiles %>; charset=utf-8
```

```json
{
  "message": "Elastic agent profile 'unit-test' was deleted successfully."
}
```

Deletes the profile.

<%= available_since('16.11.0') %>

<p class='http-request-heading'>HTTP Request</p>

`DELETE /go/api/elastic/profiles/:profile_id`

<p class='http-request-return-description'>Returns</p>

A message if the elastic agent profile is deleted or not.
