## Get feed of all stages in a pipeline

```shell
$ curl 'https://ci.example.com/go/api/feed/pipelines/mypipeline/stages.xml' \
      -u 'username:password'
```

> The above command returns XML structured like this:

```http
HTTP/1.1 200 OK
Content-Type: application/xml; charset=utf-8
```

```xml
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:go="http://www.thoughtworks-studios.com/ns/go">
  <title><![CDATA[mypipeline]]></title>
  <id>https://ci.example.com/go/api/feed/pipelines/mypipeline/stages.xml</id>
  <author>
    <name>Go</name>
  </author>
  <updated>2020-01-11T13:09:57Z</updated>
  <link rel="self" href="https://ci.example.com/go/api/feed/pipelines/mypipeline/stages.xml"/>
  <link rel="next" href="https://ci.example.com/go/api/feed/pipelines/mypipeline/stages.xml?before=4672"/>
  <entry>
    <title><![CDATA[mypipeline(4684) stage defaultStage(1) Cancelled]]></title>
    <updated>2020-01-11T13:09:57Z</updated>
    <id>https://ci.example.com/go/pipelines/mypipeline/4684/defaultStage/1</id>
    <author>
      <name><![CDATA[Pick E Reader <pick.e.reader@example.com>]]></name>
    </author>
    <link rel="alternate" href="https://ci.example.com/go/api/feed/pipelines/mypipeline/4684/defaultStage/1.xml" title="defaultStage Stage Detail" type="application/vnd.go+xml"/>
    <link rel="alternate" href="https://ci.example.com/go/pipelines/mypipeline/4684/defaultStage/1" title="defaultStage Stage Detail" type="text/html"/>
    <link rel="http://www.thoughtworks-studios.com/ns/relations/go/pipeline" href="https://ci.example.com/go/api/feed/pipelines/mypipeline/4684.xml" title="mypipeline Pipeline Detail" type="application/vnd.go+xml"/>
    <link rel="http://www.thoughtworks-studios.com/ns/relations/go/pipeline" href="https://ci.example.com/go/pipelines/mypipeline/4684/defaultStage/1" title="mypipeline Pipeline Detail" type="text/html"/>
    <category scheme="http://www.thoughtworks-studios.com/ns/categories/go" term="stage" label="Stage"/>
    <category scheme="http://www.thoughtworks-studios.com/ns/categories/go" term="completed" label="Completed"/>
    <category scheme="http://www.thoughtworks-studios.com/ns/categories/go" term="passed" label="Passed"/>
  </entry>
  <entry>
    <title><![CDATA[mypipeline(4683) stage build-server(1) Failed]]></title>
    <updated>2020-01-11T13:46:02Z</updated>
    <id>https://ci.example.com/go/pipelines/mypipeline/4683/build-server/1</id>
    <author>
      <name><![CDATA[Pick E Reader <pick.e.reader@example.com>]]></name>
    </author>
    <link rel="alternate" href="https://ci.example.com/go/api/feed/pipelines/mypipeline/4683/build-server/1.xml" title="build-server Stage Detail" type="application/vnd.go+xml"/>
    <link rel="alternate" href="https://ci.example.com/go/pipelines/mypipeline/4683/build-server/1" title="build-server Stage Detail" type="text/html"/>
    <link rel="http://www.thoughtworks-studios.com/ns/relations/go/pipeline" href="https://ci.example.com/go/api/feed/pipelines/mypipeline/4683.xml" title="mypipeline Pipeline Detail" type="application/vnd.go+xml"/>
    <link rel="http://www.thoughtworks-studios.com/ns/relations/go/pipeline" href="https://ci.example.com/go/pipelines/mypipeline/4683/build-server/1" title="mypipeline Pipeline Detail" type="text/html"/>
    <category scheme="http://www.thoughtworks-studios.com/ns/categories/go" term="stage" label="Stage"/>
    <category scheme="http://www.thoughtworks-studios.com/ns/categories/go" term="completed" label="Completed"/>
    <category scheme="http://www.thoughtworks-studios.com/ns/categories/go" term="failed" label="Failed"/>
  </entry>
</feed>
```

Gets feed of all stages for the specified pipeline with links to the pipeline and stage details.

<%= updated_to(2,'20.1.0') %>
<%= available_since('14.3.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/feed/pipelines/:pipeline_name/stages.xml`

<p class='http-request-return-description'>Returns</p>

An array of feed of stages.
