## Get all agents

```shell
$ curl 'https://ci.example.com/go/api/agents' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.agent %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.agent %>; charset=utf-8
```

```json
{
  "_links": {
    "self": {
      "href": "https://ci.example.com/go/api/agents"
    },
    "doc": {
      "href": "https://api.gocd.io/#agents"
    }
  },
  "_embedded": {
    "agents": [
      {
        "_links": {
          "self": {
            "href": "https://ci.example.com/go/api/agents/adb9540a-b954-4571-9d9b-2f330739d4da"
          },
          "doc": {
            "href": "https://api.gocd.io/#agents"
          },
          "find": {
            "href": "https://ci.example.com/go/api/agents/:uuid"
          }
        },
        "uuid": "adb9540a-b954-4571-9d9b-2f330739d4da",
        "hostname": "agent01.example.com",
        "ip_address": "10.12.20.47",
        "sandbox": "/Users/ketanpadegaonkar/projects/gocd/gocd/agent",
        "operating_system": "Mac OS X",
        "free_space": 84983328768,
        "agent_config_state": "Enabled",
        "agent_state": "Idle",
        "resources": ["java", "linux", "firefox"],
        "environments": ["perf", "UAT"],
        "build_state": "Idle"
      }
    ]
  }
}
```

Lists all available agents, these are agents that are present in the `<agents/>` tag inside `cruise-config.xml` and also agents that are in `Pending` state awaiting registration.

<%=
available_since('15.2.0') do
  in_version '15.1.0', url: 'https://docs.gocd.org/15.1.0/api/agent_api.html'
  in_version '14.4.0', url: 'https://docs.gocd.org/14.4.0/api/agent_api.html'
  in_version '14.3.0', url: 'https://docs.gocd.org/14.3.0/api/agent_api.html'
end
%>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/agents`

<p class='http-request-return-description'>Returns</p>

An array of [agent objects](#the-agent-object).
