## Get all agents

```shell
$ curl 'https://ci.example.com/go/api/agents' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.agent %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.agent %>; charset=utf-8
```

```json
{
  "_links": {
    "self": {
      "href": "https://ci.example.com/go/api/agents"
    },
    "doc": {
      "href": "https://api.gocd.org/#agents"
    }
  },
  "_embedded": {
    "agents": [
      {
        "_links": {
          "self": {
            "href": "https://ci.example.com/go/api/agents/adb9540a-b954-4571-9d9b-2f330739d4da"
          },
          "doc": {
            "href": "https://api.gocd.org/#agents"
          },
          "find": {
            "href": "https://ci.example.com/go/api/agents/:uuid"
          }
        },
        "uuid": "adb9540a-b954-4571-9d9b-2f330739d4da",
        "hostname": "agent01.example.com",
        "ip_address": "10.12.20.47",
        "sandbox": "/Users/ketanpadegaonkar/projects/gocd/gocd/agent",
        "operating_system": "Mac OS X",
        "free_space": 84983328768,
        "agent_config_state": "Enabled",
        "agent_state": "Idle",
        "agent_version": "20.5.0",
        "agent_bootstrapper_version": "20.5.0",
        "resources": [
          "java",
          "linux",
          "firefox"
        ],
        "environments": [
          {
            "name": "perf",
            "origin": {
              "type": "gocd",
              "_links": {
                "self": {
                  "href": "https://ci.example.com/go/admin/config_xml"
                },
                "doc": {
                  "href": "https://api.gocd.org/#get-configuration"
                }
              }
            }
          },
          {
            "name": "UAT",
            "origin": {
              "type": "config-repo",
              "_links": {
                "self": {
                  "href": "https://ci.example.com/go/api/admin/config_repos/foo"
                },
                "doc": {
                  "href": "https://api.gocd.org/#config-repos"
                },
                "find": {
                  "href": "https://ci.example.com/go/api/admin/config_repos/:id"
                }
              }
            }
          },
          {
            "name": "test",
            "origin": {
              "type": "unknown"
            }
          }
        ],
        "build_state": "Idle"
      }
    ]
  }
}
```

Lists all available agents, registered as well as agents that are in `Pending` state awaiting registration.


<%= updated_to(6,'19.9.0') %>
<%= available_since('14.3.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/agents`

<p class='http-request-return-description'>Returns</p>

An array of [agent objects](#the-agent-object).
