## Delete an agent

```shell
$ curl 'https://ci.example.com/go/api/agents/adb9540a-b954-4571-9d9b-2f330739d4da' \
      -u 'username:password' \
      -H 'Accept: application/vnd.go.cd.v3+json' \
      -X DELETE
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.go.cd.v3+json; charset=utf-8
```

```json
{
  "message": "Deleted 1 agent(s)."
}
```

Deletes an agent.

<aside class="notice">
  You must first <a href='#update-an-agent'>disable an agent</a> and ensure that its
  <a href='#get-one-agent'>status</a> is not <code>Building</code>, before attempting to deleting it.
</aside>

<%=
available_since('15.2.0') do
  in_version '15.1.0', url: 'http://www.go.cd/documentation/user/15.1.0/api/agent_api.html'
  in_version '14.4.0', url: 'http://www.go.cd/documentation/user/14.4.0/api/agent_api.html'
  in_version '14.3.0', url: 'http://www.go.cd/documentation/user/14.3.0/api/agent_api.html'
end
%>

<p class='http-request-heading'>HTTP Request</p>

`DELETE /go/api/agents/:uuid`

<p class='http-request-return-description'>Returns</p>

A message confirmation if the agent was deleted.
