## Delete an agent

```shell
$ curl 'https://ci.example.com/go/api/agents/adb9540a-b954-4571-9d9b-2f330739d4da' \
      -u 'username:password' \
      -H 'Accept: application/vnd.go.cd.v1+json' \
      -X DELETE
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.go.cd.v1+json; charset=utf-8
```

```json
{
  "message": "Deleted 1 agent(s)."
}
```

Deletes an agent.

<aside class="notice">
You must first <a href='#update-an-agent'>disable an agent</a> and ensure that its
<a href='#get-one-agent'>status</a> is not <code>Building</code>, before attempting to deleting it.
</aside>


### HTTP Request

`DELETE /go/api/agents/:uuid`

### Returns

A message confirmation if the agent was deleted.
