<a id="bitbucket-webhook"></a>

## Hosting on BitBucket

<%= available_since('17.11.0') %>

To notify GoCD of an push to BitBucket repository via a group or project webhook, configure BitBucket to use the webhooks api negating the need for basic authentication on each request.

**Note:** Polling must be turned off for the pipeline associated with this material.

`https://{webhookSecret}:x@gocd.example.com:8154/go/api/webhooks/bitbucket/notify`

To secure the http endpoint, the webhook configuration on bitbucket must specify a _Basic Authentication User_, the value of the _Basic Authentication User_ should be same as the value of the `webhookSecret` attribute on the `<server/>` element in the file `cruise-config.xml`. Do not specify any basic authentication credentials in the webhook URL.

##### Returns

A text confirmation, with the http status `202 Accepted`.
