<a id="gitlab-webhook"></a>

## Hosting on GitLab

<%= partial 'includes/shared/material_notify_header' %>

<%= available_since('17.11.0') %>

To notify GoCD of an push to a GitLab repository via a group or project webhook, configure GitLab to use the webhook API negating the need for basic authentication on each request.

`https://gocd.example.com:8154/go/api/webhooks/gitlab/notify`

To secure the http endpoint, the webhook configuration on GitLab must specify a _Secret Token_, the value of the _Secret Token_ should be same as the value of the `webhookSecret` attribute on the `<server/>` element in the file `cruise-config.xml`. Do not specify any basic authentication credentials in the webhook URL.

<p class='available-since'> Updated in v20.9.0 </p>

Added support to trigger one or more pluggable SCMs via `SCM_NAME` query param.

`https://gocd.example.com:8154/go/api/webhooks/gitlab/notify?SCM_NAME=scm1&SCM_NAME=scm2`

##### Returns

A text confirmation, with the http status `202 Accepted`.
