## Update data sharing settings

Change the consent value of data sharing. Either allow data sharing (true) or disallow it (false).

```shell
$ curl 'https://ci.example.com/go/api/data_sharing/settings' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.data_sharing %>' \
      -H 'Content-Type: application/json' \
      -H 'If-Match: "cbc5f2d5b9c13a2cc1b1efb3d8a6155d"' \
      -X PATCH \
      -d '{ "allow": true }'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.data_sharing %>; charset=utf-8
ETag: "61406622382e51c2079c11dcbdb978fb"
```

```json
{
  "_links" : {
    "self" : {
      "href" : "https://ci.example.com/go/api/data_sharing/settings"
    },
    "doc" : {
      "href" : "https://api.go.cd/current/#data_sharing_settings"
    }
  },
  "_embedded" : {
    "allow" : true,
    "updated_by" : "admin",
    "updated_on" : "2018-09-09T11:00:00Z"
  }
}
```

<aside class="notice">
  <strong>Note:</strong>
  The update data sharing API requires that you submit the <code>If-Match</code>
  header with the latest ETag value that is representative of the current
  data sharing setting.
  <br/><br/>
  This is required in order to avoid the "lost update" problem, where a client
  <code>GET</code>s a resource's state, modifies it and <code>PUT</code>s or
  <code>PATCH</code>es it back to the server, while another user has modified
  the state of the data sharing setting, leading to a conflict.
</aside>

<%= available_since('18.8.0') %>

<p class='http-request-heading'>HTTP Request</p>

`PATCH /go/api/data_sharing/settings`

<p class='http-request-return-description'>Returns</p>

A [data sharing object](#the-data-sharing-object). There will also be an "ETag" header whose value is needed when updating the settings, further.
