## Get all secret configs

```shell
$ curl 'https://ci.example.com/go/api/admin/secret_configs' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.secret_configs %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.secret_configs %>; charset=utf-8
ETag: "32628084ef10b0c82a55f8f2f867d8d0"
```

```json
{
  "_links" : {
    "self" : {
      "href" : "https://ci.example.com/go/api/admin/secret_configs"
    },
    "doc" : {
      "href" : "https://api.gocd.org/#secret-configs"
    },
    "find" : {
      "href" : "https://ci.example.com/go/api/admin/secret_configs/:config_id"
    }
  },
  "_embedded" : {
    "secret_configs" : [ {
      "_links" : {
        "self" : {
          "href" : "https://ci.example.com/go/api/admin/secret_configs/demo"
        },
        "doc" : {
          "href" : "https://api.gocd.org/#secret-configs"
        },
        "find" : {
          "href" : "https://ci.example.com/go/api/admin/secret_configs/:config_id"
        }
      },
      "id" : "demo",
      "plugin_id" : "cd.go.secrets.file-based-plugin",
      "description" : "",
      "properties" : [ {
        "key" : "SecretsFilePath",
        "value" : "path/to/secret/file.db"
      } ],
      "rules" : [ {
        "directive" : "allow",
        "action" : "refer",
        "type" : "pipeline_group",
        "resource" : "first"
      } ]
    } ]
  }
}
```

Lists all available secret configurations.

<%= updated_to(2,'20.8.0') %>
<%= available_since('19.6.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/admin/secret_configs`

<p class='http-request-return-description'>Returns</p>

An array of [secret configs](#the-secret-config-object).
