## Get a secret config

```shell
$ curl 'https://ci.example.com/go/api/admin/secret_configs/demo' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.secret_configs %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.secret_configs %>; charset=utf-8
ETag: "465f3520fa02e65a05844a5a27f83393"
```

```json
{
  "_links" : {
    "self" : {
      "href" : "https://ci.example.com/go/api/admin/secret_configs/demo"
    },
    "doc" : {
      "href" : "https://api.gocd.org/19.4.0/#secret-configs"
    },
    "find" : {
      "href" : "https://ci.example.com/go/api/admin/secret_configs/:config_id"
    }
  },
  "id" : "demo",
  "plugin_id" : "cd.go.secrets.file-based-plugin",
  "description" : "",
  "properties" : [ {
    "key" : "SecretsFilePath",
    "value" : "path/to/secret/file.db"
  } ],
  "rules" : [ {
    "directive" : "allow",
    "action" : "refer",
    "type" : "pipeline_group",
    "resource" : "first"
  } ]
}
```

Gets the secret config for the specified id.

<aside class="notice">
  <strong>Note:</strong> Please remember to save the value of the `ETag` header for conditional posts, see the <a href='#update-a-secret-config'>edit secret config</a> documentation for more details.
</aside>

<%= available_since('19.4.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/admin/secret_configs/:id`

<p class='http-request-return-description'>Returns</p>

The [secret config](#the-secret-config-object) object.
