## Update a secret config

```shell
$ curl 'https://ci.example.com/go/api/admin/secret_configs/secret-test' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.secret_configs %>' \
      -H 'Content-Type: application/json' \
      -H 'If-Match: "465f3520fa02e65a05844a5a27f83393"' \
      -X PUT \
      -d '{
        "id":"secret-test"
        "plugin_id":"cd.go.secrets.file-based-plugin",
        "properties": [
          {
            "key": "SecretsFilePath",
            "value": "updated/path/to/secret/file.db"
          }
        ],
        "rules":[
          {
            "directive":"allow",
            "action":"refer",
            "type":"pipeline_group",
            "resource":"first*"
          }
        ]
      }'

```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.secret_configs %>; charset=utf-8
ETag: "3b55fd5294b16a55228de0f9eef98ecb"
```

```json
{
  "_links" : {
    "self" : {
      "href" : "https://ci.example.com/go/api/admin/secret_configs/secret-test"
    },
    "doc" : {
      "href" : "https://api.gocd.org/19.6.0/#secret-configs"
    },
    "find" : {
      "href" : "https://ci.example.com/go/api/admin/secret_configs/:config_id"
    }
  },
  "id" : "secret-test",
  "plugin_id" : "cd.go.secrets.file-based-plugin",
  "description" : "",
  "properties" : [ {
    "key" : "SecretsFilePath",
    "value" : "updated/path/to/secret/file.db"
  } ],
  "rules" : [ {
    "directive" : "allow",
    "action" : "refer",
    "type" : "pipeline_group",
    "resource" : "first*"
  } ]
}
```

Update some attributes of a secret config.

<aside class="notice">
  <strong>Note:</strong>
  The update secret config API requires that you submit the <code>If-Match</code>
  header with the latest ETag value that is representative of the current
  secret config.
  <br/><br/>
  This is required in order to avoid the "lost update" problem, where a client
  `GET`s a resource's state, modifies it and `PUT`s it back to the server, while
  another user has modified the state of the secret config, leading to a
  conflict.
</aside>

<%= available_since('19.6.0') %>

<p class='http-request-heading'>HTTP Request</p>

`PUT /go/api/admin/secret_configs/:id`

<p class='http-request-return-description'>Returns</p>

The updated [secret_config](#the-secret-config-object) object.
