## Delete a secret config.

```shell
$ curl 'https://ci.example.com/go/api/admin/secret_configs/secret-test' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.secret_configs %>' \
      -X DELETE
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.secret_configs %>; charset=utf-8
```

```json
{
  "message": "Secret config with id 'secret-test' was deleted successfully!"
}
```

Deletes the config.

<%= available_since('19.6.0') %>

<p class='http-request-heading'>HTTP Request</p>

`DELETE /go/api/admin/secret_configs/:id`

<p class='http-request-return-description'>Returns</p>

A message if the secret config is deleted or not.
