## Get Maintenance Mode Info

```shell
$ curl 'https://ci.example.com/go/api/admin/maintenance_mode/info' \
-u 'username:password' \
-H 'Accept: <%= data.apis.versions.maintenance_mode %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.data_sharing %>; charset=utf-8
```

```json
{
  "_links" : {
    "self" : {
      "href" : "https://ci.example.com/go/api/admin/maintenance_mode/info"
    },
    "doc" : {
      "href" : "https://api.gocd.org/current/#maintenance-mode-info"
    }
  },
  "is_maintenance_mode" : false,
  "metadata" : {
    "updated_by" : "admin",
    "updated_on" : "2019-07-16T10:55:14Z"
  }
}
```

Gets the server maintenance mode information.

<%= available_since('19.1.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/admin/maintenance_mode/info`

<p class='http-request-return-description'>Returns</p>

A [maintenance mode info object](#the-maintenance-mode-info-object).

