## Get one user

```shell
$ curl 'https://ci.example.com/go/api/users/jdoe' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.users %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.users %>; charset=utf-8
```

```json
{
  "_links": {
    "doc": {
      "href": "https://api.gocd.io/#users"
    },
    "self": {
      "href": "https://ci.example.com/go/api/users/jdoe"
    },
    "find": {
      "href": "https://ci.example.com/go/api/users/:login_name"
    }
  },
  "login_name": "jdoe",
  "display_name": "jdoe",
  "enabled": true,
  "email": null,
  "email_me": false,
  "checkin_aliases": [

  ]
}
```

Gets a user by its login name

<%= available_since('15.2.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/users/:login_name`

<p class='http-request-return-description'>Returns</p>

A [user object](#the-user-object).
