## Delete a user

```shell
$ curl 'https://ci.example.com/go/api/users/jdoe' \
      -u 'username:password' \
      -H 'Accept: application/vnd.go.cd.v1+json' \
      -X DELETE
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.go.cd.v1+json; charset=utf-8
```

```json
{
  "message": "User 'jdoe' was deleted successfully."
}
```

Deletes a user.

<aside class="notice">
  You must first <a href='#update-a-user'>disable a user</a> before deleting it.
</aside>


<%=
available_since('15.2.0') do
  in_version '15.1.0', url: 'http://www.go.cd/documentation/user/15.1.0/api/users_api.html'
  in_version '14.4.0', url: 'http://www.go.cd/documentation/user/14.4.0/api/users_api.html'
  in_version '14.3.0', url: 'http://www.go.cd/documentation/user/14.3.0/api/users_api.html'
end
%>


<p class='http-request-heading'>HTTP Request</p>

`DELETE /go/api/users/:login_name`

<p class='http-request-return-description'>Returns</p>

A message confirmation if the user was deleted.
