## Get pipeline instance

```shell
$ curl 'http://ci.example.com/go/api/pipelines/PipelineName/instance/1' \
      -u 'username:password'  \
      -H 'Accept: <%= data.apis.versions.pipeline_operations %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
```

```json
{
  "id": 34,
  "name": "up42",
  "counter": 2,
  "label": "2",
  "natural_order": 2.0,
  "can_run": true,
  "preparing_to_schedule": false,
  "comment": null,
  "build_cause": {
    "trigger_message": "Forced by anonymous",
    "trigger_forced": true,
    "approver": "anonymous",
    "material_revisions": [
      {
        "changed": false,
        "material": {
          "id": 1,
          "name": "test-repo",
          "fingerprint": "de08b060ebfc1fb988b6683bf21",
          "type": "Git",
          "description": "URL: https://github.com/gocd/gocd, Branch: master"
        },
        "modifications": [
          {
            "id": 1,
            "revision": "11932fecb6d3f7ec22e1b0cb3a88553a",
            "modified_time": "2019-10-07T09:09:43Z",
            "user_name": "dummyuser <user@users.noreply.github.com>",
            "comment": "some comment",
            "email_address": null
          }
        ]
      }
    ]
  },
  "stages": [
    {
      "result": "Passed",
      "id": 65,
      "name": "up42_stage",
      "counter": "2",
      "scheduled": true,
      "approval_type": "success",
      "approved_by": "admin",
      "operate_permission": true,
      "can_run": true,
      "jobs": [
        {
          "id": 65,
          "name": "up42_job",
          "scheduled_date": "2019-11-01T10:37:17Z",
          "state": "Completed",
          "result": "Passed"
        }
      ]
    }
  ]
}
```

Gets pipeline instance object.

<%= updated_to(1,'19.11.0') %>
<%= available_since('15.1.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/pipelines/:pipeline_name/instance/:pipeline_counter`

<p class='http-request-return-description'>Returns</p>

A pipeline instance object.
