## Pause a pipeline

```shell
$ curl 'https://ci.example.com/go/api/pipelines/pipeline1/pause' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.pipeline_operations %>' \
      -H 'Content-Type: application/json' \
      -X POST \
      -d '{
            "pause_cause": "Investigating build failures"
          }'
```

> The above command returns the following response:

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.go.cd.v1+json; charset=utf-8
```

```json
{
  "message" : "Pipeline 'pipeline1' paused successfully."
}
```

Pause the specified pipeline.

<%= available_since('18.2.0') %>

<p class='http-request-heading'>HTTP Request</p>

`POST /go/api/pipelines/:pipeline_name/pause`

The following properties may be specified.

<%=
  describe_object(nil) do
    pause_cause  'String', 'Reason for pausing the pipeline.'
  end
%>

<%= partial 'includes/shared/cors_preflight' %>

<p class='http-request-return-description'>Returns</p>

A message confirming that the pipeline was paused.
