## Unpause a pipeline

```shell
$ curl 'https://ci.example.com/go/api/pipelines/pipeline1/unpause' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.pipeline_operations %>' \
      -H 'X-GoCD-Confirm: true'
      -X POST
```

> The above command returns the following response:

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.go.cd.v1+json; charset=utf-8
```

```json
{
  "message" : "Pipeline 'pipeline1' unpaused successfully."
}
```

Unpause the specified pipeline.

<%= available_since('18.2.0') %>

<p class='http-request-heading'>HTTP Request</p>

`POST /go/api/pipelines/:pipeline_name/unpause`

<p class='http-request-return-description'>Returns</p>

A message confirming that the pipeline was unpaused.
