## Releasing a pipeline lock

```shell

$ curl 'http://ci.example.com/go/api/pipelines/pipeline1/releaseLock' \
       -u 'username:password'
       -X POST
```

> The above command returns the following response:

```http
HTTP/1.1 200 OK
Content-Type: text/html; charset=utf-8
pipeline lock released for pipeline1
```

Release a lock on a pipeline so that you can start up a new instance without having to wait for the earlier instance to finish.
<aside class="notice">
 A pipeline lock can only be released when a pipeline is locked, AND there is no running instance of the pipeline.
</aside>

<%= available_since('14.3.0') %>

<p class='http-request-heading'>HTTP Request</p>

`POST /go/api/pipelines/:pipeline_name/releaseLock`

<p class='http-request-return-description'>Returns</p>

A text confirmation.
