## Update current user

```shell
$ curl 'https://ci.example.com/go/api/current_user' \
      -u 'jdoe:password' \
      -H 'Accept: <%= data.apis.versions.current_user %>' \
      -H 'Content-Type: application/json' \
      -X PATCH \
      -d '{
            "email": "jdoe@example.com",
            "email_me": true,
            "checkin_aliases": ["jdoe", "johndoe"]
          }'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.current_user %>; charset=utf-8
```

```json
{
  "_links": {
    "doc": {
      "href": "https://api.gocd.org/#users"
    },
    "self": {
      "href": "https://ci.example.com/go/api/users/jdoe"
    },
    "find": {
      "href": "https://ci.example.com/go/api/users/:login_name"
    }
  },
  "login_name": "jdoe",
  "display_name": "jdoe",
  "enabled": false,
  "email": "jdoe@example.com",
  "email_me": true,
  "checkin_aliases": [
    "jdoe",
    "johndoe"
  ]
}
```

Update some attributes of the current user.

<%= available_since("17.5.0") %>

<p class='http-request-heading'>HTTP Request</p>

`PATCH /go/api/current_user`

Atleast one of the following properties must be specified, not specifying the property will leave it unchanged.

<%=
  describe_object nil do
    email             "String",     "The user's email address"
    email_me          "Boolean",    "Boolean indicating if the user should be signed up for email notifications"
    checkin_aliases   "Array",      "A list of SCM checkin aliases to map users to SCM commits"
  end
 %>

<p class="http-request-return-description">Returns</p>

The updated [user object](#the-user-object).
