## Delete a pipeline

```shell
$ curl 'https://ci.example.com/go/api/admin/pipelines/my_pipeline' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.pipeline %>' \
      -X DELETE

```


> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.pipeline %>; charset=utf-8
```

```json
{
  "message": "Pipeline 'my_pipeline' was deleted successfully."
}
```

Deletes a pipeline from the config XML.

<aside class="warning">
  The history of the pipeline, that is, the data for each pipeline run will still be stored in the database. This data will not be removed.
</aside>



<%= available_since('16.6.0') %>

<p class='http-request-heading'>HTTP Request</p>

`DELETE /go/api/admin/pipelines/:pipeline_name`

<p class='http-request-return-description'>Returns</p>

A message confirmation if the pipeline was deleted.
