<%
    json = {
  pluggable_instance_settings: {
    configurations: [
      {
        key: "url",
        metadata: {
          secure: false,
          required: true,
          part_of_identity: false
        }
      }],
      view: {
        template: "<div>Plugin view template</div>"
      }
  }
}
%>

### The pluggable_instance_settings object

The pluggable_instance_settings attribute could be named auth_config_settings, role_settings, scm_settings, task_settings etc. depending on the plugin.
<%=
describe_sub_object '', json: json, html_id: 'pluggable-instance-settings' do
  configurations    'Array', 'List of [configurations](#the-plugin-info-configurations-object) required to configure a pluggable instance'
  view              'Object', 'The [view](#the-plugin-info-view-object) contains the Angular view template'
end
%>

<%
image = {
  'content_type' => 'image/svg+xml',
  'data' => '....'
}
%>

<%=
describe_sub_object 'The Image Object', json: image, html_id: 'the-plugin-icon-object' do
  content_type 'String', 'A valid [content type](http://www.iana.org/assignments/media-types/media-types.xhtml#image) for the image. Please make sure the content type is supported by most browsers.'
  data         'String', "A [base-64](https://en.wikipedia.org/wiki/Base64) encoded (single-line non-chunking) byte array of the byte-sequence that composes the image."
end
%>
