## Get all plugin info

```shell
$ curl 'https://ci.example.com/go/api/admin/plugin_info' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.plugin_info %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.plugin_info %>; charset=utf-8
ETag: "3924a894cf0e5bef02abe9de0df3bb84"
```

```json
{
  "_links": {
    "self": {
      "href": "http://localhost:8153/go/api/admin/plugin_info"
    },
    "find": {
      "href": "http://localhost:8153/go/api/admin/plugin_info/:plugin_id"
    },
    "doc": {
      "href": "https://api.gocd.org/#plugin-info"
    }
  },
  "_embedded": {
    "plugin_info": [
      {
        "_links": {
          "self": {
            "href": "https://ci.example.com/go/api/admin/plugin_info/json.config.plugin"
          },
          "doc": {
            "href": "https://api.gocd.org/#plugin-info"
          },
          "find": {
            "href": "https://ci.example.com/go/api/admin/plugin_info/:id"
          }
        },
        "id": "json.config.plugin",
        "status": {
          "state": "active"
        },
        "plugin_file_location": "/Users/varshavs/gocd/server/plugins/bundled/gocd-json-config-plugin.jar",
        "bundled_plugin": true,
        "about": {
          "name": "JSON Configuration Plugin",
          "version": "0.2",
          "target_go_version": "16.1.0",
          "description": "Configuration plugin that supports GoCD configuration in JSON",
          "target_operating_systems": [

          ],
          "vendor": {
            "name": "Tomasz Setkowski",
            "url": "https://github.com/tomzo/gocd-json-config-plugin"
          }
        },
        "extensions": [
          {
            "type": "configrepo",
            "plugin_settings": {
              "configurations": [
                {
                  "key": "pipeline_pattern",
                  "metadata": {
                    "secure": false,
                    "required": false
                  }
                },
                {
                  "key": "environment_pattern",
                  "metadata": {
                    "secure": false,
                    "required": false
                  }
                }
              ],
              "view": {
                "template": "Some view"
              }
            }
          }
        ]
      }
    ]
  }
}
```

Lists all available plugin info.

<%= available_since('19.3.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/admin/plugin_info`

<p class='http-request-return-description'>Returns</p>

An array of [plugin info objects](#the-plugin-info-object).
