## Get plugin info

```shell
$ curl 'https://ci.example.com/go/api/admin/plugin_info/my_plugin' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.plugin_info %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.plugin_info %>; charset=utf-8
ETag: "4167e3ec81fdac0fb29d854b36ceb981"
```

```json
{
  "_links": {
    "self": {
      "href": "https://ci.example.com/go/api/admin/plugin_info/my_plugin"
    },
    "doc": {
      "href": "https://api.gocd.org/#plugin-info"
    },
    "find": {
      "href": "https://ci.example.com/go/api/admin/plugin_info/:id"
    }
  },
  "id": "my_plugin",
  "status": {
    "state": "active"
  },
  "plugin_file_location": "/path/to/server/plugins/external/my_plugin.jar",
  "bundled_plugin": false,
  "about": {
    "name": "My Plugin",
    "version": "0.2",
    "target_go_version": "16.1.0",
    "description": "Short desc",
    "target_operating_systems": [

    ],
    "vendor": {
      "name": "GoCD contributors",
      "url": "https://github.com/tomzo/gocd-json-config-plugin"
    }
  },
  "extensions": [
    {
      "type": "configrepo",
      "plugin_settings": {
        "configurations": [
          {
            "key": "pipeline_pattern",
            "metadata": {
              "secure": false,
              "required": false
            }
          },
          {
            "key": "environment_pattern",
            "metadata": {
              "secure": false,
              "required": false
            }
          }
        ],
        "view": {
          "template": "Some view"
        }
      }
    }
  ]
}
```

Gets plugin info for a specified plugin id.

<%= available_since('19.3.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/admin/plugin_info/:id`

<p class='http-request-return-description'>Returns</p>

The [plugin info object](#the-plugin-info-object).
