## Update system admins

Update system admins and replace the system admins with roles and users in the request. The list of roles in the update request must be present in roles config.

```shell
$ curl 'https://ci.example.com/go/api/admin/security/system_admins' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.system_admins %>' \
      -H 'Content-Type: application/json' \
      -H 'If-Match: "cbc5f2d5b9c13a2cc1b1efb3d8a6155d"' \
      -X PUT \
      -d '{
          	"users": ["bob", "jdoe", "john"],
          	"roles": ["manager"]
          }'

```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.roles %>; charset=utf-8
ETag: "61406622382e51c2079c11dcbdb978fb"
```

```json
{
  "_links" : {
    "doc" : {
      "href" : "https://api.gocd.org/#system_admins"
    },
    "self" : {
      "href" : "https://ci.example.com/go/api/admin/security/system_admins"
    }
  },
  "roles" : [ "manager" ],
  "users" : [ "bob" , "jdoe", "john"]
}
```

<aside class="notice">
  <strong>Note:</strong>
  The update system admins API requires that you submit the <code>If-Match</code>
  header with the latest ETag value that is representative of the current
  role.
  <br/><br/>
  This is required in order to avoid the "lost update" problem, where a client
  `GET`s a resource's state, modifies it and `PUT`s it back to the server, while
  another user has modified the state of the elastic agent config, leading to a
  conflict.
</aside>

<%= available_since('18.8.0') %>

<p class='http-request-heading'>HTTP Request</p>

`PUT /go/api/admin/security/system_admins`

<p class='http-request-return-description'>Returns</p>

The updated [system admins](#the-system-admins-object) object.
