## Get an authorization configuration

```shell
$ curl 'https://ci.example.com/go/api/admin/security/auth_configs/ldap' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.authorization_configurations %>'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.authorization_configurations %>; charset=utf-8
ETag: "cbc5f2d5b9c13a2cc1b1efb3d8a6155d"
```

```json
{
  "_links": {
    "self": {
      "href": "https://ci.example.com/go/api/admin/security/auth_configs/ldap"
    },
    "doc": {
      "href": "https://api.gocd.org/#authorization-configuration"
    },
    "find": {
      "href": "https://ci.example.com/go/api/admin/security/auth_configs/:auth_config_id"
    }
  },
  "id": "ldap",
  "plugin_id": "cd.go.authentication.ldap",
  "properties": [
    {
      "key": "Url",
      "value": "ldap://ldap.server.url:389"
    },
    {
      "key": "SearchBase",
      "value": "ou=users,ou=system"
    },
    {
      "key": "ManagerDN",
      "value": "uid=admin,ou=system"
    },
    {
      "key": "SearchFilter",
      "value": "uid"
    },
    {
      "key": "Password",
      "encrypted_value": "GLzARJ+Qr+M="
    },
    {
      "key": "DisplayNameAttribute",
      "value": "displayName"
    },
    {
      "key": "EmailAttribute",
      "value": "mail"
    }
  ]
}
```

Gets authorization configuration for specified id.

<aside class="notice">
  <strong>Note:</strong> Please remember to save the value of the `ETag` header for conditional posts, see the <a href='#update-an-authorization-configuration'>edit authorization configuration</a> documentation for more details.
</aside>

<%= available_since('17.5.0') %>

<p class='http-request-heading'>HTTP Request</p>

`GET /go/api/admin/security/auth_configs/:auth_config_id`

<p class='http-request-return-description'>Returns</p>

The [authorization configuration object](#the-authorization-configuration-object).
