## Delete an authorization configuration

```shell
$ curl 'https://ci.example.com/go/api/admin/security/auth_configs/ldap' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.authorization_configurations %>' \
      -X DELETE
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.authorization_configurations %>; charset=utf-8
```

```json
{
  "message": "The security auth config 'ldap' was deleted successfully."
}
```

Deletes the authorization configuration.

<%= available_since('17.5.0') %>

<p class='http-request-heading'>HTTP Request</p>

`DELETE go/api/admin/security/auth_configs/:auth_config_id`

<p class='http-request-return-description'>Returns</p>

A message if the authorization configuration is deleted or not.
