## Create an environment

```shell
$ curl 'https://ci.example.com/go/api/admin/environments' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.environments %>' \
      -H 'Content-Type: application/json' \
      -X POST -d '{
        "name" : "new_environment",
        "pipelines" : [
          {
          "name" : "up2"
          }
        ],
        "agents" : [
          {
            "uuid" : "12345678-e2f6-4c78-123456789012"
          }
        ],
        "environment_variables" : [
          {
            "name" : "username",
            "value" : "admin",
            "secure" : false
          }
        ]
      }'
```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.environments %>; charset=utf-8
ETag: "d3b07384d113edec49eaa6238ad5ff00"
```

```json
{
  "_links": {
    "self": {
      "href": "https://ci.example.com/go/api/admin/environments/new_environment"
    },
    "doc": {
      "href": "https://api.gocd.org/#environment-config"
    },
    "find": {
      "href": "https://ci.example.com/go/api/admin/environments/:environment_name"
    }
  },
  "name": "new_environment",
  "pipelines": [
    {
      "_links": {
        "self": {
          "href": "https://ci.example.com/go/api/admin/pipelines/up42"
        },
        "doc": {
          "href": "https://api.gocd.org/#pipeline-config"
        },
        "find": {
          "href": "https://ci.example.com/go/api/admin/pipelines/:pipeline_name"
        }
      },
      "name": "up42"
    }
  ],
  "agents": [
    {
      "_links": {
        "self": {
          "href": "https://ci.example.com/go/api/agents/12345678-e2f6-4c78-123456789012"
        },
        "doc": {
          "href": "https://api.gocd.org/#agents"
        },
        "find": {
          "href": "https://ci.example.com/go/api/agents/:uuid"
        }
      },
      "uuid": "12345678-e2f6-4c78-123456789012"
    }
  ],
  "environment_variables": [
    {
      "secure": false,
      "name": "username",
      "value": "admin"
    },
    {
      "secure": true,
      "name": "password",
      "encrypted_value": "LSd1TI0eLa+DjytHjj0qjA=="
    }
  ]
}
```

Creates an environment

<%= available_since('16.7.0') %>

<p class='http-request-heading'>HTTP Request</p>

`POST /go/api/admin/environments`

The following properties may be specified:

<%=
  describe_object nil do
  name                      'String',  'The environment config name'
  pipelines                 'Array',   'The list of pipeline names that belongs to the specified environment'
  agents                    'Array',   'The list of agent uuids that belongs to the specified environment'
  environment_variables     'Array',   'The list of [environment variables](#environment-config-environment-variables) that will be passed to all tasks (commands) that are part of this environment.'
  end
%>

<p class='http-request-return-description'>Returns</p>

An [environment config object](#the-environment-config-object).
