## Update an environment

```shell
$ curl 'https://ci.example.com/go/api/admin/environments/new_environment' \
      -u 'username:password' \
      -H 'Accept: <%= data.apis.versions.environments %>' \
      -H 'Content-Type: application/json' \
      -H 'If-Match: "26b227605daf6f2d7768c8edaf61b861"' \
      -X PUT \
      -d '{
        "name" : "new_environment",
        pipelines : [ { "name" : "pipeline1" } ]
      }'

```

> The above command returns JSON structured like this:

```http
HTTP/1.1 200 OK
Content-Type: <%= data.apis.versions.environments %>; charset=utf-8
ETag: "4167e3ec81fdac0fb29d854b36ceb981"
```

```json
{
  "_links": {
    "self": {
      "href": "https://ci.example.com/go/api/admin/environments/new_environment"
    },
    "doc": {
      "href": "https://api.go.cd/#environment-config"
    },
    "find": {
      "href": "https://ci.example.com/go/api/admin/environments/:environment_name"
    }
  },
  "name": "new_environment",
  "pipelines": [
    {
      "_links": {
        "self": {
          "href": "https://ci.example.com/go/api/admin/pipelines/pipeline1"
        },
        "doc": {
          "href": "https://api.go.cd/#pipeline-config"
        },
        "find": {
          "href": "https://ci.example.com/go/api/admin/pipelines/:pipeline_name"
        }
      },
      "name": "up42"
    }
  ],
  "agents": [

  ],
  "environment_variables": [

  ]
}

```

Update some attributes of an environment.

<%= available_since('16.7.0') %>

<p class='http-request-heading'>HTTP Request</p>

`PUT /go/api/admin/environments/:environment_name`

Atleast one of the following properties must be specified, not specifying the property will leave it unchanged.

<%=
  describe_object nil do
  name                      'String',  'The name of environment'
  pipelines                 'Array',   'List of pipeline names that should be added to this environment'
  agents                    'Array',   'List of agent uuids that should be added to this environment'
  environment_variables     'Array',   'The list of [environment variables](#pipeline-config-environment-variables) that will be passed to all tasks (commands) that are part of this environment.'
  end
 %>

<p class='http-request-return-description'>Returns</p>

The updated [environment config object](#the-environment-config-object).
